[user]
    name = Alex Schmith
    email = alexanderschmith@protonmail.com

[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short

[core]
    autocrlf = input
    editor = nvim
    pager = less -FRSX

[push]
    default = simple

